@keyframes animup{
    0%{
        opacity: .6;
    }
    10%{
        opacity: 1;
        top: -.2rem;
    }
    80%{
        opacity: 1;
        top: -.5rem;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        top: 0;
    }
}
.navbarfixed-0{

}

// $overall_background_color:#fbbb5f;//全局背景色
// $overall_background_color_b:#e48e0b;//分类的左侧导航栏&&顶部导航栏
// $overall_background_color_s:#fad5a0;//输入框等更为浅的
// .overall_background_color{
//     //全局背景色
//     background-color: $overall_background_color;
// }
// .overall_navigation_color{
//     //顶部状态栏
//     background-color: $overall_background_color_b;
//     color: #fff;
// }
// .light_colour{
//     //浅色
//     background-color: $overall_background_color_s;
// }
// //顶部中间的文本
// .van-ellipsis{
//     color: #fff;
// }
// .van-nav-bar__text{
//     color: #fff;
// }


// //分类
// .tx-dx-classification{
//     .van-sidebar {
//         //分类——左侧——导航栏
//         background-color: $overall_background_color_b;
//         .van-sidebar-item{
//             //分类——左侧——导航栏——未选中的
//             background-color: $overall_background_color_b;
//         }
//         .van-sidebar-item--select{
//             //分类——左侧——导航栏——选中的
//             background-color: $overall_background_color;
//         }
//     }
//     .van-tree-select__content{
//         //分类——右侧——分类列表
//         background-color: $overall_background_color;
//         .van-grid-item__content{
//             background-color: $overall_background_color
//         }
//     }
// }
// //详细分类
// .tx-dx-sgood{
//     .sgood-sear-right{
//         background-color: $overall_background_color_s;
//         color: #fff;
//     }
//     .good-sear-right-home{
//         color: #fff;
//     }
//     .van-icon{
//         color: #fff;
//     }
//     .van-grid-item__content{
//         background-color: $overall_background_color_s;
// }

// }
// //顶部导航栏
// .searchmask-hed{
//     // background-color: $overall_background_color_b;
//     // color: #fff;
// }
// //searchMask
// .van-search {
//     background-color: $overall_background_color_s;
//     .van-search__content {
//       background-color: $overall_background_color_s;
//       input {
//         background-color: $overall_background_color_s;
//       }
//     }
// }
// .van-search__action {
//     border-left: 1px solid $overall_background_color_b;
//     color: #fff;
// }
// .searchmask-hed{
//     .van-icon-search {
//         color: #fff;
//     }
//     input::-webkit-input-placeholder {
//         color: #fff;
//     }
//     input{
//         color: #fff;
//     }
// }
// //我的订单
// .tx-dx-orders{
//     button{
//         background-color: $overall_background_color_b;
//         // color: #fff;
//         border: none;
//     }
//     .conbox{
//         border-top: 1px solid $overall_background_color_s;
//     }
// }

// .box{
//     .ordertab{
//         background-color: $overall_background_color_b;
//         color: #fff;
//     }
//     .evaluate-list>li{
//         background-color: $overall_background_color_s;
//     }
// }


.fbpl{
    // background-color: $overall_background_color_b;
    // color: #fff;
    height: .9rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    color: #151516;
    // .van-nav-bar__title{
    //     color: #fff;
    // }
    span{
        height: .8rem;
        line-height: .8rem;
    }
    .van-nav-bar__text,
    .van-icon-arrow-left,
    .van-icon-weapp-nav{
        color: #151516;
        // color: #fff;
    }
    .van-icon-share{
        font-size: 16px;
        color: #151516;
        // color: #fff;
    }
}
.scgood-plu-01{
    z-index: 2007;
    top: .9rem;
    font-size: 13px;
    background: rgba(0, 0, 0,.7);
    color: rgb(255, 255, 255);
    right: 12px;
    left: auto;
    transform: inherit;
    border-radius: 5px;
    ul{
        padding-left: 5px;
    }
    li{
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid hsla(0,0%,100%,.2);
        i{
            font-size: 16px;
        }
        span{
            margin-left:10px;
            
        }
        &:last-child{
            border-bottom: 0;
        }
    }
}
.empty-h12{
    height: 12px;
}
.top-stick-box{
    font-size: .62rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index:1;
    background: rgba(0,0,0,.123);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 6px;
    width: 100%;
    .van-icon-more{
        color: rgba(0,0,0,.7);
    }
    .icon-left-full-fill{
        width: .8rem;
        height: .8rem;
        color: rgba(0,0,0,.7);
    }
}
.swiper-n2{
    .custom-indicator{
        text-align: center;
        position: absolute;
        right: .12rem;
        bottom: .14rem;
        height: 20px;
        line-height: 20px;
        color: #fff;
        font-size: 12px;
        padding: 0 10px;
        border-radius: 5px;
        background-color: rgba(0,0,0,.3409);
    }
    .van-swipe-item{
        img{
            display: block;
            width: 100%;
        }
    }
}
.showmsg-plu{
    font-size: 12px;
    padding: 12px;
    width: 80%;
    .checkbox{
        margin-top: 10px;
        .van-checkbox__icon{
            height: auto;
            line-height: normal;
            i{
                font-size: 12px;
            }
        }
    }
    .sm{
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    .btn{
        width: 40%;
        height: .6rem;
        background: #e02e24;
        color: #fff;
        text-align: center;
        line-height: .6rem;
        font-size: 13px;
        letter-spacing: 1px;
        border-radius: 2px;
        margin: 20px auto 0;
    }
}